@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('stacja.png');
    background-size: cover;
    background-attachment: fixed;
  }

.howMuchToPay{
    background-color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    width: 20vw;
    min-width: fit-content;
    height: 30%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 40px;
    transition: all;
    animation-name: refresh;
    animation-duration: 1s;
}
@keyframes refresh{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.Input{
    margin: 2%;
    text-align: center;
}
.inputButt {
	background-color:rgb(20, 180, 20);
	border-radius:7px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:13px 25px;
	text-decoration:none;
    transition: all 300ms;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
}
.inputButt:hover {
	background-color:rgb(13, 122, 13);
}
.inputButt:active {
	animation-name: buttonAnimation;
    animation-duration: 200ms;
}
@keyframes buttonAnimation{
    0%{
        size: 100%;
    }
    50%{
        size: 70%;
    }
    100%{
        size: 100%;
    }
}

.text{
    text-align: center;
}
.thiccTxt{
    color: rgb(20, 180, 20);
    font-size: 25px;
}
.inputField{
    padding: 1.2vh;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    font-size: 15px;
    width: 50vw;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0);
}
.inputField:focus{
    outline: none !important;
    border: 2px solid rgb(60, 167, 60);
    animation-name: animation1;
    animation-duration: 200ms;
}
@keyframes animation1 {
    0% {border: 2px solid black;}
    100% {border: 2px solid rgb(60, 167, 60);}
}

.inputField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.flex{
    display: flex;
    justify-content: center;
}
.header{
    font-size: 30px;
    margin-bottom: 10%;
}
.costTxt{
    font-size: 20px;
}
.line{
    margin-left: 0;
    height: 2px;
    border: none;
    background-color: black;
}
.label{
    font-size: 16px;
    margin-bottom: 1%;
}
.errorTxt{
    color: red;
}