@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('stacja.png');
    background-size: cover;
    background-attachment: fixed;
  }

.howMuchToPay{
    background-color: rgb(255, 255, 255);
    padding: 5vh;
    margin: auto;
    width: 15vw;
    width: 20vw;
    min-width: fit-content;
    height: 30%;
    margin-top: 7vh;
    border-radius: 6px;
    transition: all;
}
.Input{
    margin: 6%;
    text-align: center;
}
.inputButt {
	background-color:rgb(20, 180, 20);
	border-radius:7px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:13px 25px;
	text-decoration:none;
    transition: all 300ms;
    margin-top: 3%;
    margin-bottom: 7%;
}
.inputButt:hover {
	background-color:rgb(13, 122, 13);
}
.inputButt:active {
	animation-name: buttonAnimation;
    animation-duration: 200ms;
}
@keyframes buttonAnimation{
    0%{
        size: 100%;
    }
    50%{
        size: 70%;
    }
    100%{
        size: 100%;
    }
}

.text{
    text-align: center;
}
.thiccTxt{
    color: rgb(20, 180, 20);
}
.inputField{
    padding: 1.2vh;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: 15px;
    width: 70%;
}
.inputField:focus{
    outline: none !important;
    border: 2px solid rgb(60, 167, 60);
    animation-name: animation1;
    animation-duration: 200ms;
}
@keyframes animation1 {
    0% {border: 2px solid black;}
    100% {border: 2px solid rgb(60, 167, 60);}
}

.inputField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.flex{
    display: flex;
    justify-content: center;
}
.header{
    font-size: 4vh;
    margin-bottom: 5vh;
}
.costTxt{
    font-size: 17px;
}
.line{
    margin-left: 0;
}
.label{
    margin-bottom: 1%;
}
.errorTxt{
    color: red;
}